:root {
    --cream_color: #ECF0F1;
    --album_color: grey;
    --font_logo: 'Tilt Prism';
    --font_text: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font_text);
}

body {
    min-height: 100vh;
    background-color: var(--cream_color);
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;   
    color: black;
    font-size: 20px;
}

.album {
    color: var(--album_color);
    cursor: pointer;
}

#chktoggle {
    display: none;
}

#chktoggle:checked +ul.link_container {
    display: block;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;   
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header > div > img {
    width: 110px;
    height: 110px;
}

header > div > h1 {
    font-family: var(--font_logo);
    font-size: 50px;
    padding: 10px;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 1rem 1rem;
    border-bottom: black solid;
}

.link_container {
    display: flex;
    gap: 8rem;
}

.burger {
    display: none;
    border: none;
    background: none;
    font-size: 3rem;
    cursor: pointer;
}

.dropdown::after {
    content: '↓';
    padding-left: 0.1rem;
}

main {
    margin-bottom: 2rem;
}

main > section > h2 {
    font-family: var(--font_text);
    text-align: center;
    padding: 2rem;
}

main > section > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    text-align: center;
    font-size: 18px;
}

.upcoming {
    object-fit: contain;
    width: 80%;
    height:80%;
}

.container_offer_singing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.container_offer {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border: 3px solid black;
}

.container_offer > h2 {
    padding-bottom: 40px;
}

.container_offer > img {
    width: 60%;
    height: 60%;
}

.container_singing {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border: 3px solid black;
}

.container_singing > h2 {
    padding-bottom: 40px;
}

.container_singing > img {
    width: 60%;
    height: 60%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 2rem 3rem;
}

.footer_title {
    padding-bottom: 25px;
}

.newsletter_container {
    display: flex;
    flex-direction: column;
}

.newsletter_container > div {
    display: flex;
    gap: 10px;
}

.newsletter_container > div > p {
    font-size: 16px;
}

.information > li {
    padding-bottom: .4rem;
}

.list_information {
    color:white;
    font-size: 16px;
}

.list_information:hover {
    background-color: white;
    color: black;
}

.social_container {
    display:flex;
    flex-direction: column;
    width: auto;
}

.social_container > div {
    display: flex;
    gap: 15px;
}

.social {
    width: 40px;
    height: 40px;
}

/* Responsive tablet */
@media screen and (min-width:769px) and (max-width: 820px) {
    .link_container {
        gap: 5rem;
        padding-left: 3rem;
    }
}

/* Responsive mobile */
@media screen and (min-width: 360px) and (max-width: 768px) {
    .nav_bar {
        display: block;
        height: auto;
    }
    .burger {
        display: block;
        text-align: center;
    }
    .link_container {
        display: none;
    }
    .link_container > li {
        padding: 2rem 0 0 0;
        align-items: center;
        text-align: center;
    }
    .container_offer_singing {
        gap:10px;
    }
    .container_offer,
    .container_singing {
        width: 100%;
    }
    #chktoggle:checked +ul.link_container {
        display: block;
        padding-bottom: 40px;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .footer_title {
        font-size: 35px;
    }
    .newsletter_container {
        align-items: center;
        padding-bottom: 40px;
    }
    .newsletter_container > div {
        flex-direction: column;
    }
    .newsletter_container > div > p {
        font-size: 20px;
    }
    .information_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }
    .list_information {
        font-size: 20px;
    }
    .information_container .information > li {
        display: flex;
        justify-content: center;
    }
    .social_container {
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
    }
}